@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.ServicioViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.serv_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv_Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv_FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv_FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.serv_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serv_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serv_Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serv_FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serv_FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serv_Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.serv_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.serv_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.serv_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
