@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clie_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_FechaModificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clie_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_FechaModificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.clie_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.clie_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.clie_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
