@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.EmpleadoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empl_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_DireccionExacta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_FechaContratacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empl_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empl_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_DireccionExacta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_FechaContratacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empl_Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.empl_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.empl_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.empl_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
